build /home/shindegy master ""
build /home/shindegy HashingPOC ""
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 3 \ 3 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 3 \ 3 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 3 \ 3 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 3 \ 3 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 3 \ 3 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 6 \ 6 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 6 \ 6 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 6 \ 6 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 6 \ 6 asynchronous 1000 32
runScheduleQ 1 150 pcs "mpirun -np 2 -host olaf,honi ./pcs_sim " 500 6 \ 6 asynchronous 1000 32
