build /home/shindegy master ""
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 6000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 3 \ 3 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
runScheduleQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat " 10000 6 \ 6 asynchronous 1000 32
build /home/shindegy UnifiedMainBranch "--with-unified-queue"
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 6000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 3 "" 3 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
runUnifiedQ 1 200 epidemic "mpirun -np 2 -host olaf,honi ./epidemic_sim -m model_100k_ws.dat" 10000 6 "" 6 asynchronous 1000 32
